.prompter {
  margin: 0 auto;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.prompt-cursor {
  display: flex;
  align-items: center;
  line-height: 1em;
  animation: blink 1s steps(1) infinite;
  color: var(--color-cursor);
}

.prompt-text {
  display: flex;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.75rem;
  color: var(--color-prompt-text);
  margin-bottom: "0.5rem";
  min-height: 24px;
  font-family: var(--font-family);
  user-select: none;
}

@media (min-width: 640px) {
  .prompt-text {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (min-width: 768px) {
  .prompt-text {
    font-size: 3.75rem;
    line-height: 5rem;
  }
}

@media (min-width: 1024px) {
  .prompt-text {
    font-size: 5rem;
    line-height: 7rem;
  }
}
