ul {
  list-style: none;
}

@media (max-width: 450px) {
  .buzz-avatar {
    display: none;
  }
}

.nav-link {
  font-size: 0.875rem;
  color: var(--color-text-nav);
  transition: color 150ms;
  user-select: none;
  border-radius: 5px;
  text-transform: capitalize;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link:hover {
  color: var(--color-text-muted);
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 1.4rem;
  }

  .nav-link.active {
    text-decoration: none;
  }
}
